{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-8" style="width:100%;">
            <div>
                <div class="mb-4">
                    <h3 class="fw-bolder mb-1">팀 회식비 신청내역 </h3>
                    <h6>총 승인 내역 수 : {{ support.is_approval.count }}</h4>
                        <div class="feed_name" style="justify-content: space-between">
                            <div style="display: flex; justify-content: left;">
                                <div class="name_content"
                                    style="display: flex; justify-content: center; margin-bottom:10px;">
                                    <span class="feed_name_txt">팀이름</span>
                                </div>
                                <div style="text-decoration: none; color: inherit; margin-left:78.5%;">
                                    <span class="feed_name_txt">상세내역</span>
                                </div>
                                <div style="margin-left:5%;">
                                    <h6>승인내역</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% for al in approval_list %}
                        <div class="feed_name" style="justify-content: space-between">
                            <div style="display: flex; justify-content: left;">
                                <div class="name_content"
                                    style="display: flex; justify-content: center; margin-bottom:10px;">
                                    <span class="feed_name_txt">{{ al.team_name.team_name }}</span>
                                </div>
                                <div style="text-decoration: none; color: inherit; margin-left:80%;">
                                    <span class="feed_name_txt"><a href="/result/{{ al.id }}"
                                            style="text-decoration: none; color: inherit;">상세 내역</a></span>
                                </div>
                                <div style="margin-left:5%;">
                                    {% if al in support.approval.all %}
                                    <a href="/approval/{{ al.id }}" class="card-link"
                                        style="text-decoration: none; color: inherit;">
                                        승인완료</a>
                                    {% else %}
                                    <a href="/approval/{{ al.id }}" class="card-link" style="text-decoration: none;">
                                        승인대기</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}