{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load mathfilters %}
<style>
    .shop_section .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .shop_section .box .detail-box h2 {
        font-weight: bold;
        font-size: 3rem;
    }

    .shop_section .box .detail-box p {
        margin-bottom: 0;
    }

    .shop_section .box .img-box img {
        max-width: 100%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }

    .shop_section .box .btn-box {
        margin-top: 25px;
    }

    .shop_section .box .btn-box a {
        display: inline-block;
        padding: 8px 40px;
        background-color: #313131;
        border: 1px solid #313131;
        color: #ffffff;
    }

    .shop_section .box .btn-box a:hover {
        background-color: transparent;
        color: #313131;
    }
</style>
<div class="container mt-5">
    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-8">
            <!-- Product section-->
            {% for my_image in my_images %}
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <section class="shop_section layout_padding">
                            <div class="container">
                                <div class="box">
                                    <div class="detail-box">
                                        <h2>
                                            {{ my_image.team_name.team_name }}팀
                                        </h2>
                                        <p>
                                            {{ my_image.created_at}}
                                        </p>
                                    </div>
                                    <div class="img-box">
                                        {% if my_image.image %}
                                        <img src="{{ my_image.image.url }}" alt="..." />
                                        {% else %}
                                        <img src="https://dummyimage.com/600x500/dee2e6/6c757d.jpg" alt="..." />
                                        {% endif %}
                                    </div>
                                    
                                    <!-- Button trigger modal -->
                                    <div class="btn-box">
                                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal{{my_image.id}}">
                                            <span class="material-symbols-outlined">지원금액 확인하기</span>
                                        </button>
                                        {% if my_image.team_name == user %}
                                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal{{my_image.id}}">
                                            <span class="material-symbols-outlined">신청 취소하기</span>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- 지원금 확인하기 Modal -->
                                    <div class="modal fade" id="exampleModal{{my_image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">지원금액 확인하기</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ my_image.team_name.team_name }}팀의 지원금액은 {{ my_image.people_num|mul:5 }} (만원) 입니다
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                                            <span class="material-symbols-outlined">close</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 삭제하기 Modal -->
                                    <div class="modal fade" id="deleteModal{{my_image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">신청 취소하기</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    정말 신청을 취소하시겠습니까?
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button type="button" class="btn btn-light me-md-2"><a href="/">
                                                                <span class="material-symbols-outlined" style="color:black;"><a href="/delete/{{my_image.id}}">delete</a></span>
                                                            </a></button>
                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                                            <span class="material-symbols-outlined">close</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <div class="card mb-4" style="margin-top: 20px;">
                <div class="card-header">확인하기</div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="submit" onclick="location.href='/my_result'">나의 신청내역
                            확인하기</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">확인하기</div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="submit" onclick="location.href='/team_result'">우리팀의 신청내역 확인하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}