{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load mathfilters %}

<!-- Product section-->
{% for my_image in my_images %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <figure class="col-md-6"><img class="img-fluid rounded" src="{{ my_image.image.url}}" alt="..." id="img2" />
            </figure>
            <div class="col-md-5">
                <h1 class="display-5 fw-bolder">{{ my_image.team_name.team_name }}팀 회식비</h1>
                <p class="lead">{{ my_image.people_num|mul:5 }}만원</p>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}