{% extends 'base.html' %}
{% block title %}my_objection{% endblock %}
{% block content %}
{% load mathfilters %}

<!-- Page content-->
<style>
    .shop_section .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .shop_section .box .detail-box h2 {
        font-weight: bold;
        font-size: 3rem;
    }

    .shop_section .box .detail-box p {
        margin-bottom: 0;
    }

    .shop_section .box .img-box img {
        max-width: 100%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }

</style>

<div class="container mt-5">
    <div class="row" style="margin-top: -30px; margin-bottom:150px;">
        <div class="col-lg-8">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <section class="shop_section layout_padding">
                            <div class="container">
                                <div class="box">
                                    <div class="detail-box">
                                        <h2>
                                            {{ my_image.team_name.team_name }}팀 오류 신고 내역
                                        </h2>
                                        <p>
                                            {{ my_image.write_image.created_at}}
                                        </p>
                                    </div>
                                    <div class="img-box">
                                        <img src="{{my_image.write_image.url}}" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <table class="table">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row"> 입력한 인원 수</th>
                        <td>{{ my_image.input_num }}</td>
                    </tr>
                    <tr>
                        <th scope="row"> 카운트 된 인원 수</th>
                        <td>{{ my_image.people_num }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Side widgets-->
        {% if user.username == 'a' %}
        {% else %}
        <div class="col-lg-4" style="margin-top: 100px;">
            <div class="card mb-4">
                <div class="card-header">둘러보기</div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="submit" onclick="location.href='/'">전체 신청 확인하기</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">확인하기</div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="submit" onclick="location.href='/my_result'">나의 신청내역 확인하기</button>
                        <button class="btn btn-secondary" type="submit" onclick="location.href='/team_result'">우리팀 신청내역 확인하기</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
        
{% endblock %}