{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load mathfilters %}

<div class="container mt-5" style="width:60%;">
    <div class="row">
        <h2 class="fw-bolder mb-4 mt-5">오류 신고내역 </h2>
        <!-- <h6>총 승인 내역 수 : {{ support.is_approval.count }}</h6> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">팀이름</th>
                    <th scope="col">상세페이지</th>
                    <th scope="col">사용자가 입력한 인원수</th>
                    <th scope="col">확인된 인원수</th>
                    <th scope="col">신청금액</th>
                    <th scope="col">신청날짜</th>
                    <th scope="col">승인여부</th>
                </tr>
            </thead>
            <tbody>
                {% for al in objection %}
                <tr>
                    <th scope="row">{{ al.team_name.team_name }}팀</th>
                    <td><a href="/my_objection/{{ al.id }}" class="record">오류 신청 내역
                            확인하기</a></td>
                    <td>{{ al.input_num }} 명</td>
                    <td>{{ al.people_num }} 명</td>
                    <td>{{ al.input_num|mul:5 }} (만원)</td>
                    <td>{{ al.created_at|date:"Y.m.d" }}</td>
                    <td>
                        {% if al.is_approval %}
                        <a style="color:blue">승인완료</a>
                        {% else %}
                        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ al.id }}" class="approval">
                            승인대기
                        </a>
                        <div class="modal fade" id="exampleModal{{ al.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ al.team_name.team_name }}팀 회식비
                                            승인</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        승인완료 하시면 되돌리지 못합니다. 그래도 승인하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">
                                            <a href="/objection_list/{{ al.id }}" class="card-link"
                                                style="text-decoration: none; color: inherit;">
                                                승인
                                            </a>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}