<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Upload</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/home">회식비 신청 사이트</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <a href="/logout">logout</a>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <form method="post" action="/upload/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gx-4 gx-lg-5 align-items-center">

                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x500/dee2e6/6c757d.jpg"
                            alt="..." id="img" />
                        <input id="image" type="file" style="display: block;" name="image" multiple>
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">00팀 회식비 신청</h1>
                        <div class="fs-5 mb-5">
                            <span></span>
                        </div>
                        <p class="lead">5i에서 회식비를 지원해드립니다! 회식비는 인당 5만원씩 지원해드립니다. 참가했다는걸 인증하기 위해 사진을 올려주세요! 사진에서 사람을 인식해
                            입력한 인원수와 맞는지 확인하여 일치할 경우 회식비를 지원해드립니다</p>
                        <div> "" </div>
                        <div class="d-flex">
                            <span>인원수 입력하기 </span>

                            <input class="form-control text-center me-3" name="input_num" id="inputQuantity" type="num"
                                value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                Upload
                            </button>
                            {% if error %}
                            <div style="color:red;" role="alert">
                                {{ error }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">회식비 신청 사이트 2022</p>
        </div>
    </footer>
    <script>
        document.getElementById("image").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("img").src = e.target.result;

                var canvas = document.createElement("canvas");
                var ctx = canvas.getContext("2d")
                ctx.drawImage(img, 0, 0);
                var MAX_WIDTH = 600;
                var MAX_HEIGHT = 500;
                var width = img.width;
                var height = img.height;

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;

                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, width, height);

                var dataurl = canvas.toDataURL("image/png");
                document.getElementById('output').src = dataurl;

            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
</body>

</html>